<div class='row'>
   <div class="pull-right">
     <%= link_to 'Show',patient_path(@patient) ,class: 'pull-right btn btn-primary'%><br/>
   </div>
</div><br/>
<div class='row'>
    <%= render 'form' %>
</div>
